<html>
<head>
<tittle>Different</tittle>
<name="viewport"content="width=device-width,initial-scale=1">
<style>
{
	box-sizing:border-box;
}
.column{
	float:left;
	width:40%;
	padding: 10px;
	height:300px;
}
.row:after{
	content:"";
	display:table;
	clear:both; 
}
</style>





<link rel="stylesheet" type="text/css" href="../static/stylesheets/Diffrent.css">
</head>
<body>
<div class="row">
	<div class="column"
style="background-color:#aaa;">

<h1>Youtube Links</h1>
<p>Youtube Links Youtube Links Youtube Links Youtube Links Youtube Links Youtube Links Youtube Links Youtube Links</p>
</div>
<div class="column"
style="background-color:#bbb;">

<h2>good website</h2>
<ul>
    <li>website number 1</li>
    <li>the second branch</li>
    <li>the third branch</li>
</ul>

<h2>books links</h2>
<ul>
    <li>book number 1</li>
    <li>the second book</li>
    <li>the third book</li>
</ul>
</div>
</div>



</html>