{% extends "layout.html"%}
{% block head %}

<name="viewport"content="width=device-width,initial-scale=1">
<style>
{
	box-sizing:border-box;
}
.column{
	float:left;
	width:33.3%;
	padding-top: 0px;
	height:600px;
	margin-top: 20px;
}
.row:after{
	content:"";
	display:table;
	clear:both;

}
</style>



<link rel="stylesheet" type="text/css" href="../static/stylesheets/Diffrent.css">
{% endblock %}
{% block body %}
<body>
<div class="row">
	<div class="column"
style="background-color:orange;">

<h2>Youtube Links</h2> 


<ul>
    <li> <a href="https://www.youtube.com/cjchanofficialdestinywolf">
 	<img src="../static/images/444.jpg" style="width:300px;" >
	</a> </li>
	<li> <a href="https://www.youtube.com/user/ActualizedOrg" style="width:300px;">
	<img src="../static/images/555.jpg" style="height: 200px;">
	</a></li>	

</ul>



</div>
<div class="column"
style="background-color:lightgreen;">

<h2>good website</h2>

<ul>
    <li> <a href="https://www.sweetyhigh.com/">
 	<img src="../static/images/we1.jpg" style="width:300px;height: 200px;" >
	</a> </li>
	<li> <a href="http://www.fanlala.com/">
	<img src="../static/images/999.jpg" style="width:300px;">
	</a></li>	

</ul>

</div>


<div class="column"
style="background-color:lightblue;">

<h2>books links</h2>
<ol>
    <li> <a href="https://download-story-pdf-ebooks.com/194-1-library-books">
 	<img src="../static/images/888.jpg" style="width:300px;" >
	</a> </li>
	<li> <a href="https://www.kutub-pdf.com/category/2-%D8%B1%D9%88%D8%A7%D9%8A%D8%A7%D8%AA-%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.html">
	<img src="../static/images/777.jpeg" style="width:300px;height: 200px;"0>
	</a></li>	
</ol>

</div>

{% endblock %}