{% extends "layout.html"%}

{% block body %}


<h1 style="text-align: center;">Youtube channels</h1>
<br/>

<div class="row no-gutters " style="background-color:lightblue;padding:10px;" >
  <div class="col-12 col-sm-6 col-md-2 offset-md-4">
  	    	    <a href="https://www.youtube.com/cjchanofficialdestinywolf">

 	<img src="../static/images/444.jpg"   style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
  <div class="col-6 col-md-2 offset-md-1">
  	    	    <a href="https://www.youtube.com/user/ActualizedOrg">

 	<img src="../static/images/555.jpg"   style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
</div>



<h1 style="text-align: center;">Good websites</h1>
<br/>

<div class="row no-gutters " style="background-color:lightgreen;padding:10px;" >
  <div class="col-12 col-sm-6 col-md-2 offset-md-4">
  	    	    <a href="https://www.sweetyhigh.com/">
 	<img src="../static/images/we1.jpg"   style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
  <div class="col-6 col-md-2 offset-md-1">
  	    	    <a href="http://www.fanlala.com/">
 	<img src="../static/images/999.jpg"   style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
</div>


<h1 style="text-align: center;">Books</h1>
<br/>

<div class="row no-gutters " style="background-color:orange;padding:10px;" >
  <div class="col-12 col-sm-6 col-md-2 offset-md-4">
  	    	    <a href="https://download-story-pdf-ebooks.com/194-1-library-books">
 	<img src="../static/images/888.jpg"   style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
  <div class="col-6 col-md-2 offset-md-1">
  	    	    <a href="https://www.kutub-pdf.com/category/2-%D8%B1%D9%88%D8%A7%D9%8A%D8%A7%D8%AA-%D8%B9%D8%B1%D8%A8%D9%8A%D8%A9.html">
 	<img src="../static/images/777.jpeg"   style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
</div>



{% endblock %}