{% extends "layout.html"%}

{% block body %}


<h1 style="text-align: center;">Youtube channels</h1>
<br/>

<div class="row no-gutters " style="background-color:lightblue;padding:20px;margin-bottom: 20px" >
  <div class="col-12 col-sm-6 col-md-2 offset-md-4">
  	    	    <a href="https://www.youtube.com/user/BCLearnEnglishTeens" style="width:150px;">

 	<img src="../static/images/britich.png" style="border-radius: 50% ;width:150px;"  /></a>

  </div>
  <div class="col-6 col-md-2 offset-md-1">
  	    	    <a href=https://www.youtube.com/channel/UCCq2yqG8Ou6cl-GDpdgkdqw>

 	<img src="../static/images/tofel.png" width="150"  style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
</div>



<h1 style="text-align: center;">Good websites</h1>
<br/>

<div class="row no-gutters " style="background-color:lightgreen;padding:20px;margin-bottom: 20px" >
  <div class="col-12 col-sm-6 col-md-2 offset-md-4">
  	    	    <a href="http://www.elllo.org/">
 	<img src="../static/images/website.jpeg" width="150"  style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
  <div class="col-6 col-md-2 offset-md-1">
  	    	    <a href="http://learnenglish.britishcouncil.org/ar/">
 	<img src="../static/images/website2.png" width="150"  style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
</div>


<h1 style="text-align: center;">Books</h1>
<br/>

<div class="row no-gutters " style="background-color:orange;padding:20px;margin-bottom: 20px" >
  <div class="col-12 col-sm-6 col-md-2 offset-md-4">
  	    	    <a href="https://www.fluentu.com/blog/english/best-books-to-learn-english/">
 	<img src="../static/images/222.jpg" width="150"  style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
  <div class="col-6 col-md-2 offset-md-1">
  	    	    <a href="https://www.fluentu.com/blog/english/best-books-to-learn-english/">
 	<img src="../static/images/333.jpg" width="150"  style="border-radius: 50% ;width:150px; height: 150px;" /></a>

  </div>
</div>



{% endblock %}
 