{% extends "layout.html"%}
{% block head %}
<style>
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto ;
  padding: 10px;
  height: 400px;
  width: 1300px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;	
}
h2 {
	text-align: center;
}
</style>
{% endblock%}


{% block body %}
<h1> Fire Yourself Up</h1>
<h2>
	<img src= "../statics/images/photo1.jpg"  height="250px" width="550">
</h2>
<p>
	What is "Fire Yourself Up" website? <br>
	This website is really benefical for every teenager who tries to be better. So it has many different aspects like programming, learning English, health and some extra important things.
</p>



<div class="grid-container">
  <div class="grid-item"><li>Learning English</li> <br>
  <p><a href="https://www.w3schools.com/html/"> <img src="../statics/images/photo1.jpg" height="250px" width="350"></a>

   </div>
  <div class="grid-item"><li>Programming</li><br>
  <p><a href="https://www.w3schools.com/html/"> <img src="../statics/images/photo1.jpg" height="250px" width="350"></a></div>
  <div class="grid-item"><li>Health</li><br>
  <p><a href="https://www.w3schools.com/html/"> <img src="../statics/images/photo1.jpg" height="250px" width="350"></a></div>  
  <div class="grid-item"><li>Entertainment </li><br>
  <p><a href="https://www.w3schools.com/html/"> <img src="../statics/images/photo1.jpg" height="250px" width="350"></a></div>  

</div>
{% endblock %}
