<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
{% endblock %}
</head>

<style>

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #ADD8E6;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #F0FFFF;
    
}

.active {
    background-color: yellow;
    color: white;
}
body{
  background-color: #F5DEB3;
}
h1.title{
  width: 70%;
  float: right;
}
</style>

</head>
<body>
<h1 class="title"> Fire Yourself Up</h1>

<ul >
  <li><a href="/">Home</a></li>
  <li><a href="/health">Health</a></li>
  <li><a href="/english">Learning English</a></li>
  <li><a href="/programming">Programming</a></li>
  <li><a href="/different">Extra</a></li>

</ul>
	{% block body %}{% endblock %}

</body>
</html>


