<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
  {% endblock %}
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #AFEEEE;
    
}

li a {

    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #F0FFFF;
    
}

.active {
    background-color: yellow;
    color: white;
}
body{
  background-color: #FFFACD;
}
</style>
</head>
<body>


<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/health">Health</a></li>
  <li><a href="/english">Learning English</a></li>
  <li><a href="/programming">Programming</a></li>
  <li><a href="/different">Extra</a></li>

</ul>
	{% block body %}{% endblock %}

</body>
</html>



