{% extends "layout.html"%}
{%block head%}
<style >
.color{
	color: blue;
}
p{
	width:75%;
}
.images{
	float:center;
	margin:center;
}
</style>
{%endblock%}
{% block body %} 
 
<h1> <strong>programming</h1></strong>

<p><strong>what is Coding?</strong>
<br><br>
On the most basic level, coding is how we communicate with computers, and what we use to build and run websites, apps, video games, and more. Learning to code is like learning how to speak and write in a particular language; a computer’s language.
  
   <br><br>
 
There are a lot of acronyms and esoteric terms in the world of coding: HTML, CSS, Java, Ruby, etc. It can be overwhelming, but we will get there when we get there. Choosing the best programming language for your child is the next big step. For now, let’s look at why students should code.<br><br>
<strong> <span class ="color"> Why teenagers Should Learn to Code?</span> </strong> 
   <br><br>
<strong>1. Programmers are in high demand.</strong>
<br><p>
As mentioned, according to Code.org, 71% of all new STEM jobs are in computing, yet only 8% of STEM graduates are in Computer Science. That’s a SERIOUS shortage of CS majors.

   <br>
Learning to code will increase your child’s odds of securing a lucrative STEM career, especially in a world where computing jobs are growing at over twice the national average.
<br>
Coding has quickly become a vital skill, and Code.org also points out that CS majors can earn 40% more than the college average.<br>
<br><strong>2. Coding provides a competitive advantage when applying to colleges, internships, and jobs.</strong>
<br><br>
If you possess a hot skill that many of your peers lack–such as the ability to code–you instantly appear more desirable in the eyes of potential college admissions officers and employers. Plain and simple.<br><br>
<strong>3. With programming knowledge, students better understand the world around them.</strong>
<br><br>
Most of us don’t know the first thing about what makes our smartphones, laptops, social media networks, and video games run. Basic programming knowledge can change the way we interact with the technologies we use (and take for granted) daily, and can open our eyes to the infinite possibilities of coding.<br><br>
<strong>4. Programming is fun and satisfying.</strong>
<br><br>
While programming is logic-based, it’s also an extremely creative activity. If you know how to code, you can develop the aforementioned apps, video games, websites, and more!
<br>
For many developers, part of the appeal of coding is the challenge and reward of seeing their code come to life after a good debugging session. Don’t be fooled, however–with the right instruction, getting started with programming can be easy and fun.<br><br>
<strong>5. Coding improves creativity.</strong> 
<br><br>
When you learn a language, you use it to express yourself. The same is true with code. Coding empowers kids to not only consume digital media and technology, but to create it. Instead of simply playing a video game or using an app, they can imagine making their own video game, or envision what their own website, or app might look like—and they’ll have the outlet for expression.<br><br>
<strong>6. Coding improves problem solving.</strong>
<br><br>
When kids code, they take complex problems and break them down into smaller parts.
<br>
Kids learn what it’s like to approach a problem the way a software engineer does, with logical, computational thinking.
<br>
As Dan Crow, CTO of SongKick explains, “Computational thinking teaches you how to tackle large problems by breaking them down into a sequence of smaller, more manageable problems.”
<br>
This logical thinking is a powerful tool in school, work, and life.<br><br>
<strong>7. Coding improves persistence.</strong>
<br><br>
Learning to code, like any new discipline, is a challenge. Thus, tackling complex problems—and making mistakes along the way—can be very frustrating.
<br>
Coding teaches the valuable skill of persistence in the face of such challenges. Learning how to problem solve and look for solutions through research and collaboration builds this highly desirable skill.
 
<br>
    Download our 2018 brochure to learn more about getting your child started in coding. Or, continue reading for more reasons why!
<br><br>
<strong>8. Coding improves collaboration.</strong>
<br><br>
Anyone can learn how to code—kids can learn alongside others of every race, gender, or background. Kids meet and learn how to collaborate with all kinds of peers, all joined by a common interest in technology.
<br>
Classrooms and other in-person environments, like iD Tech, bring kids together for face-to-face collaboration. Kids learning online can also grow, asking each other questions, and working to solve problems and create things together.<br><br>

Many games, like Minecraft, also offer a bevy of educational benefits because they too involve coding, collaboration, and participation—with peers all over the world.<br><br>
<strong>9. Coding improves communication.</strong>
<br><br>
Communication is an absolutely essential skill throughout school, work, and life. People who can clearly communicate complex ideas in simple terms tend to be successful in different industries and walks of life.
<br><br>
When kids learn how to code, they learn how to communicate with the most simple-minded audience imaginable: computers. As mentioned, coding teaches kids how to break down complex ideas and arrange them in a way that computers can understand.
</p>
<br><br>
<strong><h3>Here are some amazing sources that you can use for learning coding:</h3></strong>
 
<a   href="https://www.coursera.org/courses?_facet_changed_=true&query=programming">
  <img class="images" src="../static/images/coursera.png">
</a> 

<a href="https://www.codecademy.com/">
  <img class="images"  src="../static/images/codeacademy.png"height:"400" width="400">
</a>
 
{% endblock %}